/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */


input[type="text"], textarea, select, div.styled, input[type="file"] {  
    width:100%; border-radius:4px; border: solid 1px #ccc; padding:0.4em; min-height:29px; line-height:30px;}

div.styled, select, input[type="submit"], input[type="button"], 
input[type="file"]:after {
    background: white url(../images/formelements-select.png) no-repeat center right;
    /*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); */
}	

input[type="text"], textarea, input[type="file"] { 
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}

.ie9 input[type="text"] { line-height:normal; } /* Get the stuff to line up right */

textarea { width:100%; height:10em; }

/* ----------------------------------------------  Select menu  ---------------------------------------------- */

/* For IE and Firefox */

div.styled { overflow:hidden; padding:0; margin:0; }

.ie7 div.styled {border:none;}

div.styled select {	
    width:100%; background-color:transparent; background-image:none;
    -webkit-appearance: none; border:none; box-shadow:none;}

.ie7 div.styled select {
    width:100%; background-color:#fff; border: solid 1px #ccc; 
    padding:0.3em 0.5em;}	

/* ------  File field  ---------  */

/* Webkit Only */

input[type="file"] { 
    position: relative; 
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;	width: 40%;	padding:0;}

input[type=file]::-webkit-file-upload-button {
    width: 0; padding: 0; margin: 0;-webkit-appearance: none; border: none;}	

input[type="file"]:after {
    content: 'Upload File';
    margin:0 0 0 0.5em;
    display: inline-block; left: 100%; position: relative;
    background:white url( url(../images/formelements-select.png)) no-repeat center left;
    padding:0.3em 0.5em; border: solid 1px #ccc !important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius:4px;}	


input[type="file"]:active:after {box-shadow:none;}


/* ----------  Checkboxes and Radio inputs  --------  */	

input[type="radio"], 
input[type="checkbox"] { position: absolute; left: -999em; }

label:before { 
    display: inline-block; position: relative; top:0.25em; left:-2px; 
    content:''; width:25px; height:25px;
    background-image:url(../images/formelements.png); box-sizing:inherit !important}

input[type="checkbox"] + label:before { background-position: 0 -25px;}
input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }

input[type="radio"] + label:before { background-position: -25px -25px;}	 	
input[type="radio"]:checked + label:before { background-position: -25px 0;}

/* Remove the custom styling for IE 7-8 */

.ie8 label:before { display:none; content:none; }

.ie8 input[type="checkbox"],
.ie8 input[type="radio"],
.ie7 input[type="checkbox"],
.ie7 input[type="radio"]{ 
    position: static; left:0; }

.ie8 input[type="checkbox"],
.ie8 input[type="radio"] { 
    position:relative; top:5px; margin-right:0.5em;}	

input[type="text"]:focus, textarea:focus {
    border-color:#000;
}
@media screen and (max-width: 400px) { 
    input[type="text"], textarea, select, div.styled { width:100% } 
}

