@charset "utf-8";
/* CSS Document */
.green-nav{ background:#6fbe44;}
#ownerbanner .item img{
	width: 100%;
	opacity: 1;
	height:365px;
}

#ownerbanner .item .slider-content {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
#ownerbanner .item.active .slider-content {
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}

#ownerbanner .slider-content{
	top: 35%;
	margin-top: -70px;
	left: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	color: #fff;
}
#ownerbanner .slider-content p{color:#fff !important; padding:10px !important;}

#ownerbanner .carousel-indicators {
	bottom: 30px;
}
.calculator-wrap{ background:#6fbe44;}
.graysection{ background:#f8f8f8;}
.owener-testimonial{ border:1px solid #e8e8e8; background:#fff; padding:16px; margin:20px; position:relative;}
.classic-testimonials .testimonial-content:before { display:none;	}
.classic-testimonials .testimonial-content{ padding:16px; text-align:left;}
.authorinfo{ padding:20px 0px 0px; font-size:18px; color:#595858;}
.authorinfo span{ font-size:14px; color:#aaaaaa;}
.testimonial-author{text-align:center;}
.pointer{ width:31px; height:18px; position:absolute; bottom:-18px; left:48%; background:url(../images/pointer.png) no-repeat center top;}
.howin{ color:#fff; background:url(../images/bullet.png) no-repeat left 33px; padding-left:35px; padding-top:35px; padding-right:25px;}
.howin h5{ font-size:20px; font-weight:200; padding-bottom:10px; color:#fff;}
.darkgray{ background:#3a3a3a; color:#fff !important; text-align:center;}
.network{ padding:25px 0px 10px 35px; color:#595959; background:url(../images/greenarrow.png) no-repeat left  25px; text-align:left; font-size:18px; color:#595959;}
a.btnstrock{ border:1px solid #989898; border-radius:3px; color:#989898; padding:8px 12px;}
.big-title h1{ font-size:26px; font-weight:300; text-transform:uppercase;}
.service-center .service-content h4{ text-transform:uppercase; background:url(../images/serviceheadbg.png) no-repeat center bottom; padding-bottom:12px; margin-bottom:20px;}
.bannertext{position: absolute; color:#fff; top:30%; color:#fff !important; text-align:center;}
.bannertext p{padding:10px 0px; }
.slider.btn {padding: 10px 40px;
margin-top: 5px;
background:#6fbe44; color:#fff;
font-size: 20px;
border-radius: 2px;
text-transform: uppercase;
line-height: 28px;
border: 0px none;
transition: none;
box-shadow:none;}
#main-slide .slider-content{ margin-top:inherit;}
.btnline{ background:none !important; border-radius:2px !important; border:1px solid #ffffff; color:#fff !important; min-width:110px;}
.topline{ border-top:1px solid #656565; line-height:30px; padding-top:20px; text-align:center;}
footer {
	background-color: #3a3a3a;
    padding-top: 40px;
	padding-bottom:40px;
	border-top: 1px solid #d5d5d5;
	color: #ccc;
}
#content{padding:120px 0px;}
.head30 span{font-size:14px;}
.tab-pane{padding:50px 0px;}