@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,400italic,300italic,700,700italic);
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
    line-height: 21px;
	font-weight: 300;
	color: #666;
	background:#f4f4f4;	
}
.btnlogin{ background:#fff; border-radius:2px !important; border:1px solid #6fbe44; color:#6fbe44; min-width:110px; padding:6px 12px !important; margin:20px 6px} 
.btnsignup{ background:#6fbe44; border-radius:2px !important; border:1px solid #6fbe44; color:#fff; min-width:110px; padding:6px 12px !important; margin:20px 6px}
.btnsignup:hover {background:#7ad648; border-radius:2px !important;; border:1px solid #7ad648; color:#fff; min-width:110px;}
.btnsignup:focus {background:#7ad648; border-radius:2px !important; border:1px solid #7ad648; color:#fff; min-width:110px;}
.navinner{ background:#ffffff; border-bottom: 2px solid #6fbe44; min-height:84px; }

/*----TAB MENU----*/

.panel-heading {
    padding: 0
}
.panel-heading a {
    display: block;
    padding: 20px 10px;
}
.panel-heading a.collapsed {
    background: #fff
}
.panel-heading a {
    background: #f7f7f7;
    border-radius: 5px;
}
.panel-heading a:after {
    content: '-'
}
.panel-heading a.collapsed:after {
    content: '+'
}
.nav.nav-tabs li a,
.nav.nav-tabs li.active > a:hover,
.nav.nav-tabs li.active > a:active,
.nav.nav-tabs li.active > a:focus {
    border-bottom-width: 0px;
    outline: none;
}
.nav.nav-tabs li a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tab-pane {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
}



/* used for sidebar tab/collapse*/
@media (max-width: 991px) {
  .visible-tabs {
    display: none;
  }
}

@media (min-width: 992px) {
  .visible-tabs {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .hidden-tabs {
    display: none !important;
  }
}
/*--- END TAB MENU------*/
.head30{ color:#b2b2b1; font-weight:100; font-size:30px; margin:40px 0px;}
a.greenlink{ font-size:16px; color:#7bc357;}
.fbsignup{ background:#334e7e; border:none; color:#fff; padding:0 15px 0 0; line-height:26px; margin:25px 0px;}
.fbsignup i{ border-right:1px solid #3e609c; padding:12px 15px; margin-right:15px; font-size:28px;}
.fbsignup:hover{background:#395992 !important; border:none; color:#fff;}
.fbsignup.focus, .fbsignup:focus {background:#395992 !important; border:none; color:#fff;}
.fbsignup.active, .fbsignup:active, .open>.dropdown-toggle.fbsignup{background:#395992 !important; border:none!important; color:#fff;}
.inputsignup{ border:1px solid #d4d4d4; border-radius:4px; min-height:46px; box-shadow:none; font-size:16px;}
.labelsignup{ text-transform:uppercase; line-height:46px;}
.orsep{ background:url(../images/orsep.png) repeat-x center center; text-align:center; height:60px; margin-bottom:40px;}
.orsep span{ background:#d4d4d4; height: 60px; width:60px; line-height:60px; text-align:center; color:#fff; display:block; margin:0px auto; border-radius:60px}
.tablist{padding:0px}
.tabsignup > li {text-align:center; color:#798075; text-transform:uppercase; font-weight:400; }
.tabsignup > li > a{ background-color:#d9e1d5; color:#7c827a; border-radius:0px; border:none;}
.tabsignup > li > a span{ width:50px; height:50px; line-height:50px; text-align:center; display:block;  border:1px solid #9E9E9E; border-radius:50px; margin:3px auto;}
.tabsignup > li > a:hover{ background:#ccd8c6;}
.tabsignup > li.active > a, .tabsignup > li.active > a:focus, .tabsignup > li.active > a:hover{ background-color:#7bc357; color:#fff; border-radius:0px; border:none;}
.tabsignup > li.active > a span {  border:1px solid #fff;}
.btngreen{ background:#6fbe44; border:none; color:#fff; text-transform:uppercase; font-family: 'Lato', sans-serif !important; font-weight:400; padding:12px 50px; }
.btngreen:focus, .btngreen:hover, .btngreen:active, .btngreen:active:focus, .btngreen:visited{background:#72ca42; border:none !important; color:#fff;}




/*----- FOOTER--------*/
footer {
	background-color: #f0f0f0;
    padding-top: 40px;
	padding-bottom:40px;
	border-top: 4px solid #d5d5d5;
	color: #ccc;
	margin-top:50px;
}
.padb20 { padding-bottom:20px;}
footer p {
	color: #ccc;
}

footer a {
	color: #666;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

.footer-widget {
    margin-bottom: 45px;
}

.footer-widget h4 {
	color: #eee;
	text-transform: uppercase;
	padding-bottom: 8px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
}

.footer-widget h4 .head-line {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 50px;
	height: 3px;
	background-color: #333;
	margin: 0;
}

.social-widget ul.social-icons li {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 4px;
}

.social-widget ul.social-icons li a i {
	font-size: 1.4em;
	width: 36px;
	height: 36px;
	color: #fff;
	line-height: 36px;
	text-align: center;
	display: block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.social-widget ul.social-icons li a:hover {
	text-decoration: none;
}

.social-widget ul.social-icons li a.facebook:hover i {
	background-color: #507CBE;
}

.social-widget ul.social-icons li a.twitter:hover i {
	background-color: #63CDF1;
}

.social-widget ul.social-icons li a.google:hover i {
	background-color: #F16261;
}

.social-widget ul.social-icons li a.dribbble:hover i {
	background-color: #E46387;
}

.social-widget ul.social-icons li a.linkdin:hover i {
	background-color: #90CADD;
}

.social-widget ul.social-icons li a.tumblr:hover i {
	background-color: #4D7EA3;
}

.social-widget ul.social-icons li a.flickr:hover i {
	background-color: #E474AF;
}

.social-widget ul.social-icons li a.instgram:hover i {
	background-color: #4D4F54;
}

.social-widget ul.social-icons li a.vimeo:hover i {
	background-color: #87D3E0;
}

.social-widget ul.social-icons li a.skype:hover i {
	background-color: #36C4F3
}

.contact-widget {
	background: url(../images/map.png) center bottom no-repeat;
}

.contact-widget span {
	font-weight: 700;
}

.contact-widget ul li {
    margin-bottom: 12px;
}

.contact-widget ul li p a {
    color: #bbb;
}

.contact-widget p {
    padding-bottom: 20px;
}

.twitter-widget a:hover {
	color: #43B9CD;
	text-decoration: underline;
}

.twitter-widget ul li {
    margin-bottom: 20px;
}

.twitter-widget ul li span {
	color: #666;
}

.flickr-widget ul {
    overflow: hidden;
}

.flickr-widget ul li {
    float: left;
    margin-left: 8px;
    margin-bottom: 8px;
}

.flickr-widget ul li:nth-child(3n+1) {
    margin-left: 0;
}

.flickr-widget ul li a {
    display: inline-block;
	width: 80px;
	opacity: 0.6;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	border: 4px solid #333;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.flickr-widget ul li a img {
    width: 100%;
	height: 65px;
}

.flickr-widget ul li a:hover {
	opacity: 1;
}

.mail-subscribe-widget form {
    margin-top: 15px;
    margin-bottom: 20px;
}

.mail-subscribe-widget form input[type="text"] {
    outline: none;
    color: #666;
    font-size: 12px;
    padding: 6px 12px;
	border: none;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
}

.copyright-section {
    padding: 15px 0;
	font-size: 11px;
	letter-spacing: 0.5px;
    border-top: 1px solid rgba(255,255,255,.06);
}

.copyright-section p {
	font-size: 11px;
	text-transform: uppercase;
}

ul.footer-nav {
    float: right;
}

ul.footer-nav li {
    display: inline-block;
    float: left;
    margin-left: 15px;
}

ul.footer-nav li:first-child {
    margin-left: 0;
}

ul.footer-nav li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
	font-size:14px;
	line-height:45px;
}

ul.footer-nav li a:hover {
	color: #151515;
}
.socialnav a{ border:1px solid #969696; color:#969696; width:40px; height:40px; border-radius:40px; display:block; line-height:40px; text-align:center; font-size:20px; margin:6px; float:left;}