section.section-navy {
    background: none repeat scroll 0 0 #153965;
    border: medium none;
    color: #ebf4fb;
}
section:last-child {
    border: medium none;
    padding: 5rem 0;
}
/*--section:first-child {
    padding-top: 10rem;
}--*/
section_cal {
    padding: 20rem 0 15rem;
}
section_cal {
    border-bottom: 1px solid #c8cfd5;
    padding: 10rem 0 7rem;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.container:after {
    clear: both;
}
.container:after, .container:before {
    content: "";
    display: table;
}

section.section-navy h1, section.section-navy h2 {
    color: #fff;
}
h1.text-center {
    margin-bottom: 8rem;
}
h1.text-center, h2.text-center {
    margin-bottom: 4rem;
}
.text-center {
    text-align: center;
}
H1 {
    margin-bottom: 2rem;
}
H1, H2, H3, dl, form, h4, h5, h6, ol, p, table, ul {
    margin: 0 0 2rem;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


.alert.alert-error {
    background-color: #f2dede;
    border-color: #e7c7cc;
    color: #a94442;
}
.alert {
    background-color: #fcf8e3;
    border: 1px solid #f3e4c6;
    color: #8a6d3b;
    margin-bottom: 2rem;
    padding: 10px 20px;
    position: relative;
}
.text-center {
    text-align: center;
}
.hide {
    display: none;
}

#section-calculator form {
    margin-bottom: 7rem;
}
/*.cols {
    display: flex;
    flex-wrap: wrap;
}
.cols, .form-horizontal .form-group {
    list-style: outside none none;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
}
*//*.cols [class*="col-"], .form-horizontal .form-group [class*="col-"] {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}
*/
#section-calculator form label {
    margin-bottom: 15px;
    text-align: center;
	color:#fff;
	min-height:45px;
	font-size:18px;
	background-image:none !important;
}
#section-calculator form label:before{
	background-image:none !important;
	width:inherit !important; height:inherit !important;
	}
.form-label {
    display: block;
    margin-bottom: 5px;
}
label {
    display: block;
    font-weight: 700;
    margin-bottom: 0;
}

#section-calculator form label .red {
    margin-right: 5px;
}
.error, .red {
    color: #b94a48;
}


#section-calculator form label .tip {
    margin-left: 5px;
}
a:not(.btn) {
    transition: all 200ms ease 0s;
}
a {
    color: #20a8e0;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a {
    color: #20a8e0;
}

#section-calculator form input, #section-calculator form select {
    height: 5rem;
}
select {
    background-color: #fff;
    border: 1px solid #c8cfd5;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
}
input[type="file"], select {
    height: auto;
}
.uneditable-input, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], input[type="number"], input[type="search"], select, textarea {
    background-clip: padding-box;
    border-radius: 0;
    color: #333;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    padding: 5px 10px;
    vertical-align: middle;
    width: 100%;
}
button, input, select, textarea {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
button, input, label, select, textarea {
    font-size: 15px;
    font-weight: 400;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

#section-calculator form input, #section-calculator form select {
    height: 6rem;
}
#section-calculator form input {
    text-align: center;
}
.uneditable-input, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], input[type="number"], input[type="search"], textarea {
    background-color: #fff;
    border: 1px solid #c8cfd5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.uneditable-input, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], input[type="number"], input[type="search"], select, textarea {
    background-clip: padding-box;
    border-radius: 0;
    color: #333;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    padding: 5px 10px;
    vertical-align: middle;
    width: 100%;
}
.uneditable-input, input, textarea {
    margin-left: 0;
}
button, input, select, textarea {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
button, input, label, select, textarea {
    font-size: 15px;
    font-weight: 400;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.btn-primary {
    background: linear-gradient(#ff9e00, #ff6c00) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #e66100 #e66100 #b34c00;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

#section-calculator #results:before {
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 100%;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 0;
}
#section-calculator #results:after, #section-calculator #results:before {
    content: "";
    display: table;
}
#section-calculator #results:after {
    clear: both;
}

#section-calculator #results:after, #section-calculator #results:before {
    content: "";
    display: table;
}
#section-calculator #results {
    height: 368px;
    margin-bottom: 6rem;
    padding: 0;
    position: relative;
    transition: all 200ms ease 0s;
}
#section-calculator #results #results-right {
    background:#64B237;
    float: right;
    height: 100%;
    padding: 30px 30px 80px 40px;
    position: relative;
    width: 385px;
}
#section-calculator #results #results-right #error {
    background: none repeat scroll 0 0 #fff;
    color: #953b39;
    height: 100%;
    left: 0;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}
.hide {
    display: none;
}
#section-calculator #results #results-right #graph:after, #section-calculator #results #results-right #graph:before {
    content: "";
    display: table;
}
#section-calculator #results #results-right #graph:after {
    clear: both;
}
#section-calculator #results #results-right #graph:after, #section-calculator #results #results-right #graph:before {
    content: "";
    display: table;
}
#section-calculator #results #results-right #graph {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    height: 100%;
    position: relative;
}
section.section-navy {
    color: #ebf4fb;
}
#section-calculator #results #results-right #graph #graph-curr, #section-calculator #results #results-right #graph #graph-pd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
    z-index: 10;
}
#section-calculator #results #results-right #graph #label-curr, #section-calculator #results #results-right #graph #label-pd {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 105%;
    width: 150px;
}
#section-calculator #results #results-right #graph #label-curr span, #section-calculator #results #results-right #graph #label-pd span {
    display: block;
}
#section-calculator #results.results-open #results-right #graph #plot-pd {
    height: 20%;
    transition-delay: 2s;
    transition-duration: 500ms;
}
#section-calculator #results #results-right #graph #plot-curr, #section-calculator #results #results-right #graph #plot-pd {
    border-left: 3px dashed #ccc;
    bottom: 0;
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    transition: all 200ms ease 0s;
}
#section-calculator #results #results-right #graph #plot-curr #dot-curr, #section-calculator #results #results-right #graph #plot-curr #dot-pd, #section-calculator #results #results-right #graph #plot-pd #dot-curr, #section-calculator #results #results-right #graph #plot-pd #dot-pd {
    display: block;
    height: 30px;
    margin: -15px 0 0 -18px;
    position: absolute;
    top: 0;
    width: 30px;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: auto;
}
#section-calculator #results #results-right #graph #graph-curr, #section-calculator #results #results-right #graph #graph-pd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
    z-index: 10;
}
#section-calculator #results #results-right #graph #label-curr, #section-calculator #results #results-right #graph #label-pd {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 105%;
    width: 150px;
}
#section-calculator #results #results-right #graph #label-curr span, #section-calculator #results #results-right #graph #label-pd span {
    display: block;
}
#section-calculator #results.results-open #results-right #graph #plot-curr {
    height: 80%;
    transition-delay: 3s;
    transition-duration: 1s;
}
#section-calculator #results #results-right #graph #plot-curr, #section-calculator #results #results-right #graph #plot-pd {
    border-left: 3px dashed #ccc;
    bottom: 0;
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    transition: all 200ms ease 0s;
}
#section-calculator #results #results-right #graph #plot-curr #dot-curr, #section-calculator #results #results-right #graph #plot-pd #dot-curr {
    background: none repeat scroll 0 0 padding-box #da4b26;
    border-radius: 50%;
}
#section-calculator #results #results-right #graph #plot-curr #dot-curr, #section-calculator #results #results-right #graph #plot-curr #dot-pd, #section-calculator #results #results-right #graph #plot-pd #dot-curr, #section-calculator #results #results-right #graph #plot-pd #dot-pd {
    display: block;
    height: 30px;
    margin: -15px 0 0 -18px;
    position: absolute;
    top: 0;
    width: 30px;
}
#section-calculator #results #results-right #graph #graph-overpay:after {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 158px 163px 0 0;
    content: "";
    display: block;
    height: 0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 0;
}
#section-calculator #results.results-open #results-right #graph #graph-overpay {
    opacity: 1;
    transition-delay: 4.5s;
    transition-duration: 500ms;
}
#section-calculator #results #results-right #graph #graph-overpay {
    color: #000;
    display: block;
    left: 78px;
    opacity: 0;
    padding: 15px;
    position: absolute;
    top: 50px;
    transition: all 200ms ease 0s;
    width: 162px;
    z-index: 0;
}

#section-calculator #results #results-right #graph #graph-overpay span {
    position: relative;
    z-index: 1;
}
#section-calculator #results #results-right #graph #graph-overpay span #calc-label-overpaid {
    font-size: 110%;
}
#section-calculator #results #results-left {
    background:#fff;
    height: 100%;
    overflow: hidden;
    padding: 40px 50px 0;
    position: relative;
    text-align: center;
}
#section-calculator #results #results-left h2 {
    font-weight: 400;
    margin-bottom: 0;
}
section.section-navy h1, section.section-navy h2 {
    color: #fff;
}
#section-calculator #results #results-left h1 {
    font-size: 4.4rem;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 1rem;
	color:#6FBE44;
	font-size:28px;
	line-height:40px;
	margin-top:60px;
}
#section-calculator #results #results-left h1 span{ /*font-size:34px;*/}
#section-calculator #results.results-open #results-left #calc-savings-month, #section-calculator #results.results-open #results-left #calc-savings-year, #section-calculator #results.results-open #results-left #calc-true-cost {
    opacity: 1;
}
#section-calculator #results #results-left #calc-savings-month, #section-calculator #results #results-left #calc-savings-year, #section-calculator #results #results-left #calc-true-cost {
    opacity: 0;
    transition: all 200ms ease 0s;
	font-size:24px;
	margin-left:10px;
}
.navy {
    color: #153965;
}
#section-calculator #results #results-left #results-left-bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
#section-calculator #results #results-left #results-left-bottom {
    background: #53932D;
    padding: 20px 0;
	color:#fff;
}
.caps {
    text-transform: uppercase;
}
.btn_calculate{ background-color:#53932D; border:none; padding:15px; color:#fff; font-size:24px !important; margin-top:20px;}
/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



@media all and (max-width: 900px){
  .results-right{ display:none;}
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } 
.calss_nav{ margin-bottom:-51px !important;}
	
	}
	
	@media (max-width:992px){#section-calculator #results #results-right{display:none}}
	
/*@media all and (max-width: 480px){
#section-calculator #results #results-left h1{ margin-top:auto !important; font-size:20px !important; line-height:28px;}
#section-calculator #results #results-left h1 span{ font-size:24px !important;}	
	}*/

.calss_nav{ margin-bottom:-72px;}
.navbar-fixed-top,
.navbar-fixed-bottom {
  -webkit-font-smoothing: antialiased;
}


/* Override Bootstrap Responsive CSS fixed navbar */
@media (max-width: 979px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
      position: fixed;
      margin-left: 0px;
      margin-right: 0px;
  }
}
@media all and (max-width: 480px){
#section-calculator #results #results-left h1{ margin-top:auto !important; font-size:20px !important; line-height:28px;}
#section-calculator #results #results-left h1 span{ font-size:24px !important;}	
.class_320{ font-size:13px;}
.class_320 span{ font-size:16px !important;}
	}
@media all and (max-width: 640px){
#section-calculator #results #results-left #results-left-bottom{ position:relative;}
#section-calculator #results #results-left{ height:auto !important;}
#section-calculator #results #results-left h2{ line-height:24px !important;}
}
.class_navtop{ margin-top:-123px;}
@media all and (max-width:800px) and (min-width: 640px) {
#main-slide .slider-content h2{ font-size:26px !important;}
}











