@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qzte38');
	src:url('fonts/icomoon.eot?qzte38#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?qzte38') format('truetype'),
		url('fonts/icomoon.woff?qzte38') format('woff'),
		url('fonts/icomoon.svg?qzte38#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-captivepool:before {
	content: "\e900";
}
.icon-moreorder:before {
	content: "\e901";
}
.icon-riskfree:before {
	content: "\e902";
}

