/* CSS Document */






/*-----------------------REPORT-CSS------------------------------*/
.pageheader_report{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    padding: 10px 0;
	text-align:center;
	background-color:#6fbe44;
}
.page_sub_header{ background-color:#eef2ec; color:#424242; font-size:18px; padding:15px 0;}
.report_table{ border:1px solid #f2f2f2;}
.report_table .col-xs-8, .report_table .col-xs-4, .report_table .col-xs-10, .report_table .col-xs-2{ padding:15px; color:#424242; font-size:16px;  border-right:1px solid #f2f2f2;}
.report_table .col-md-6, .report_table .col-md-12{border-bottom:1px solid #f2f2f2;}
.report_table .col-xs-4{ text-align:center; border-right:1px solid #f2f2f2; border-left:1px solid #f2f2f2;}
.pad0{ padding:0;}
.header_tblrt{ background-color:#eef2ec; padding:15px !important; border-color: #dde2da !important;}
#report_tbl .table-bordered{ border-color:#dde2da !important; padding:0 !important;}
#report_tbl table tbody td{ padding:10px; text-align:right;}
#report_tbl table thead td{ text-align:center;}
.action_bar{ border-left:1px solid #dde2da; border-right:1px solid #dde2da; padding:15px 10px;}
.action_bar .dropdown-toggle{ background-color:#f5f5f5; border:none; }
.action_bar .col-sm-7{ padding-top:8px; color:#424242; font-size:18px; margin-bottom:10px;}
.text_report{ background-color:#f5f5f5; border:none;}


.report_tbl > tbody > tr:nth-of-type(2n+1) {
    background-color: #66b53c;
}
@media all and (max-width: 640px) and (min-width: 320px) {
	.page_sub_header .col-md-6{ text-align:center !important; margin-bottom:10px;}
	}
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
	
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 60% !important; 
		white-space: normal;
		text-align:left;
	}
	.report_tbl{ padding:0;}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
	
	
	
	
	
	
	
	
	#report_tbl table, 
	#report_tbl thead, 
	#report_tbl tbody, 
	#report_tbl th, 
	#report_tbl td, 
	#report_tbl tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#report_tbl thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#report_tbl tr { border: 1px solid #ccc; }
 
	#report_tbl td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 70% !important; 
		white-space: normal;
		text-align:left;
	}
/*	.callabel{ padding-left:2% !important;}
*/ 
	#report_tbl td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#report_tbl td:before { content: attr(data-title); }
	
}
.admin_body{ background-color:#fff;}







