@charset "utf-8";
/* CSS Document */

/*		new css for Different Themes	start	*/

body.skin-black > header > nav.navbar { background-color:#6FBE44;  }






.form-box .header {
  background: #1F3749!important;
}



.checkbox-slider--b-flat input:checked + span:before {
  background: #6FBE44;
}




.badge{
	color:#D12C37;
	background-color:#FFF;
	line-height:1.5!important;
}
.badge:hover{
	/*background-color:#000; */
}
.nav-tabs > li.active > a > span {
    background-color: #E8E9EA!important;
}
.fontorange{
	color:#D12C37!important;
}
.tip{ color:#D12C37 !important; font-size:20px !important;}
.total_amt{ font-size:36px !important; color:#D12C37 !important; text-align:right; padding-right:15px; width:100%;}
.color_orange{ color:#D12C37 !important;}
.button_orange{ background:#D12C37; border:none; color:#fff; font-size:20px; padding:6px 30px; margin-bottom:15px; margin-left:5px;}
.btn_save{ background:#6FBE44; padding:6px 60px; font-size:18px; color:#fff; text-transform:uppercase;}
.btn.btn-info {
  background-color: #6FBE44;
  border-color: #6FBE44;
  color:#FFFFFF;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info.hover {
  background-color: #6FBE44;
}
.mr_2{
color:#D12C37;
}
/* ---------- home tab colors ------------- */
.bg-restaurant {
  background-color: #036365 !important;
}
.bg-location {
  background-color: #f39c12 !important;
}
.bg-menu {
  background-color: #00c0ef !important;
}
.bg-reports {
  background-color: #0073b7 !important;
}
.bg-orders {
  background-color: #036365 !important;
}
.bg-customers {
  background-color: #cccccc  !important;
}

.bg-profile {
  background-color: #00a65a  !important;
}
.bg-hometab {
  background-color: #3c4e60  !important;
}



.glyphicon-user{
color:#fff;
} 

/*		new css for Different Themes	end	*/







/*
old css-----------------------

body{ font-family: 'Open Sans', sans-serif !important;}
.top_nav{ background:#003744; min-height:60px; border-bottom:none; margin-bottom:0;}
.navbar-brand{ background:#09c3c6; height:60px; display:inline-block;}
.cust_nav li a{ padding:20px 35px; font-size:16px; color:#fff;}
.rght_nav li a{ color:#fff; font-size:16px; padding:19px 35px;}
.nav > li > a:hover, .nav > li > a:focus{ outline: medium none; }
.logout_bg{ background:#024656;}
.cust_nav li a.active{ background:url(../images/arrow_nav.png) no-repeat bottom center;}
.navbar-toggle .icon-bar{ background:#fff;}
.tab_wrper{ background:#e8eeef; padding:25px 15px;}
.pad0{ padding:0;}
.tab_contwp{ background:#fff; padding:15px 0;}
.tab_links li a{ color:#474747; font-size:18px; padding:10px 30px;}
.head_table{ background:#eff5f6; padding:5px;}
.head_table th{ font-size:16px; color:#474747; font-weight:600; border-bottom:none !important;}
.table_body td{ color:#4d4d4d; font-size:14px; font-weight:600; border-top:none !important; line-height:32px !important;}
.footr_gua{ color:#0dd7da; background:#28373b; padding:15px; font-size:14px; text-align:center; position:absolute; width:100%; bottom:0;}
.wrapper{ margin-top:50px;}
.btn_blue{ background:#0dd7da; color:#fff; font-size:14px; font-weight:600;}
.btn_gray{ background:#becacc; color:#003744; font-size:14px; font-weight:600;}
.btn_add{ background:#05adaf; border:none; border-radius:0; color:#fff; margin-top:11px; padding:8px 25px;}
.detail_wrapper{ margin-top:75px;}
.order_caption{ color:#003744; font-size:17px; padding:20px 10px;}
.order_caption span{ color:#0d7289;}
.total_section{ font-size:22px; color:#003744;}
.total_section span{ font-size:36px; color:#b9720c;}
.btn_section{ padding:25px 10px;}
.btn_cmplete{ background:#08bbbe; padding:8px 15px; color:#fff; font-size:16px; margin:10px; float:right;}
.btn_cancel{ background:#becacc; padding:8px 15px; color:#3f3f3f; font-size:16px; margin:10px; float:right;}
.btn_back{ background:#003744; padding:8px 15px; color:#fff; font-size:16px; margin:10px 0;}
.form_felds label{ font-size:16px; color:#a4a4a4; text-align:left !important; font-weight:normal;}
.form_felds input, .form_felds select{ border:1px solid #dae1e2; margin-bottom:10px; height:45px;}
.form_felds textarea{ border:1px solid #dae1e2; margin-bottom:10px; min-height:120px;}
.form_felds{ padding:25px 0;}
.header_nav{background-color:transparent !important;}
.fileToUpload{ 
	border: none!important;
    height: 29px!important;
    margin-bottom: 10px;
}

.dropdown-menu {
    background-color: #3a5b68!important;
}
.dropdown-menu > li > a {
    color: #fff!important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus , .settings > a:hover, .settings > a:focus {
    background-color: #3a5b68!important;
    text-decoration: none;
}
.settings{ background-color: #003744!important;}
.addcateg {
    margin: 12px;
}
.save_categorys{
	float:left;
	margin:0px;
}
.modal-dialog {
    margin: 15% auto !important;
}

#myTabContent{
	min-height:550px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
	border-bottom: 1px solid #e2e2e2!important;
	border-top:1px solid #e2e2e2!important;
}
.table-striped > tbody > tr:nth-of-type(2n) {
	border-bottom: 1px solid #e2e2e2!important;
	border-top:1px solid #e2e2e2!important;
}
.table-striped{
	border:1px solid #e2e2e2!important;
}

	@media all and (min-width: 320px) and  (max-width: 640px){
		.btn_cancel{ float:left; margin-left:0;}
		.btn_cmplete{ float:left;}
		.cust_nav li a.active{ background:none; background-color:#014F60;}
	}


html {
  position: relative;
  min-height: 100%;
}
body {

  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 60px;
  background-color: #f5f5f5;
}

*/