<div class="layout-main col yelp__col--main" style="width: 1025px;">
    <!---->

    <div id="" class="ember-view loc-picker container--with-fixed-header"><div class="drawer-header container__fixed-header clearfix accordion-offset" style="width: 1025px;">
  <span class="pull-left heading--comp heading--xsm header-brand">
    <div id="" class="ember-view cn-powered-logo"><a href="https://www.chownow.com" target="_blank">
    <img height="19" class="cn-logo" alt="Powered by Forkours" src="">
</a>
</div>
  </span>
    <a class="heading pull-right session-header drawer-header__action" data-ember-action="1277"><span class="ss-gizmo ss-user"></span> Log In</a>

</div>



<ul id="" class="ember-view accordion">

<li id="" class="ember-view accordion__pane is-active">

<div class="accordion__pane-header" ng-click="removeRes()">
  
  
  
  <span ng-if="title" class="heading heading--med heading--accordion" ng-model="title">
  {{title}}
  </span>
  <span ng-if="!title" class="heading heading--med heading--accordion" ng-model="title">
  Choose Location
  </span>
  
  
  <span class="accordion__pane-header-step ss-gizmo ss-write"></span>
</div>

<div class="accordion__pane-body js-locations-list-container" style="">
       
  <ul class="accordion__pane-menu" ng-hide="title" >
    
    <li  ng-repeat="list in restaurantList" ng-click="selectRes(list.restaurant_name,list.location_id)">
      <a href="javascript:" data-ember-action="1280" class="accordion__pane-choice ">
        <span class="heading heading--link">{{list.restaurant_name}} - Larrabee</span> <!---->
        <input type="hidden" ng-model="list.restaurant_name"  />
          <address>
              {{list.address}}, {{list.city}} {{list.state}} {{list.zip_code}}
          </address>
      </a>
    </li>
   
   
    
    
  </ul>
</div>
</li>

<li id="" class="ember-view accordion__pane is-active">
<div class="accordion__pane-header" data-ember-action="3559"  ng-click="removeOrderTime()">
  
  <span ng-if="orderTimeTitle" class="heading heading--med heading--accordion" ng-model="orderTimeTitle">
  {{orderTimeTitle}}
  </span>
  <span ng-if="!orderTimeTitle" class="heading heading--med heading--accordion" ng-model="orderTimeTitle">
  Choose a Time
  </span>

</div>

<div class="accordion__pane-body"  ng-show="title">
  <ul class="accordion__pane-menu" ng-hide="orderTimeTitle">
    <li ng-click="selectOrderTime('Now')">
      <a href="javascript:" data-ember-action="3560" class="accordion__pane-choice ">
          <span class="heading heading--link">Order for Now</span>
          <p>Have your ordered prepared as soon as possible.</p>
      </a>
    </li>
    <li ng-click="selectOrderTime('Later')">
        <a class="accordion__pane-choice" href="javascript:" data-ember-action="4168">
            <span class="heading heading--link">Order for Later</span>
            <p>Have your order prepared at a specified future date &amp; time.</p>
        </a>
    </li>
  </ul>
  
  
<div class="ember-view  order-ahead" ng-show="orderTimeLater">

<div class="order-ahead__days">
        <div class="order-ahead__header">
          <span>Choose a Date &amp; Time</span>
          <a href="javascript:" ng-click="removeOrderTime()" class="order-ahead__close" data-ember-action="3563">
          Back</a>
        </div>
		<ul class=" day-picker">
           
            <li class="" ng-repeat="(key, value) in laterDates[0]" ng-click="selectLaterDate(key)">
              <a class="  ">
                <span class="day-picker__day-word">
                    {{key}}
                </span>
                <span class="day-picker__day-number">{{value}}</span>
              </a>
            </li>
            
		</ul>     
        </div>


<div class="order-ahead__times">
<div id="ember678" class="ember-view time-picker" ng-show="laterDate">           


            <ul>
                <li class="" ng-repeat="timeAr in timeArray.time"  id="{{$index}}">
                    <span  ng-hide="timeAr.showfull" ng-click="showConfirm(timeAr)" >{{timeAr}} </span>
                    <ul class="time-picker__methods">
                      <li> <span class="ss-icon ss-check text--success"></span><strong>pickup </strong></li>
                     
                    </ul>
                    <a ng-show="timeAr.showfull"  href="javascript:"  ng-click="selectLaterOrderTime(timeAr)" class="btn btn-success btn-block">
                    	Confirm {{timeAr}} 
                    </a>
                    
                </li>
            </ul>
            
            
		</div>     
        </div>
    


</div></div>
</li>





<li id="ember3548" class="ember-view accordion__pane is-active"><div class="accordion__pane-header" data-ember-action="3567">
  <span class="ss-icon ss-utensils"></span>
  
  <span ng-if="orderType" class="heading heading--med heading--accordion" ng-model="orderType">
  {{orderType}}
  </span>
  <span ng-if="!orderType" class="heading heading--med heading--accordion" ng-model="orderType">
  Choose a Method
  </span>

 
 </span>
</div>
<div class="accordion__pane-body" ng-show="orderTime">
  <ul class="accordion__pane-menu">
    <li ng-click="selectOrderType('Pickup')">
      <a href="javascript:" data-ember-action="4195" class="accordion__pane-choice ">
        <span class="heading heading--link">Pickup</span>
        <p>Pickup your order at the <strong>Chicago, IL</strong> location.</p>
      </a>
    </li>
    <li ng-click="selectOrderType('Delivery')">
      <a href="javascript:" data-ember-action="4198" class="accordion__pane-choice ">
          <span class="heading heading--link">Delivery</span>
          <p>
            Your order will be delivered to you
              as soon as possible.
          </p>
      </a>
    </li>
  </ul>

<div id="ember3568" class="ember-view ember-view__accordion-overlay">    <div id="ember3569" class="ember-view ember-view__delivery-address-checker"><form>
  <div id="ember3570" class="ember-view spinner-overlay is-hidden">    <div class="spinner spinner spinner--absolute"></div>
</div>

  <div id="ember3571" class="ember-view">  <div class="row pad-top">
    <h4>Delivery Address <!----></h4>
<!---->
      <div class="">
        <div id="ember3835" class="ember-view">  <div class="form-group">
    <input type="text" id="ember3836" class="ember-view ember-text-field form-control" placeholder="Street Address" name="street address 1">
    <div id="ember3837" class="ember-view alert alert--error is-hidden">false
</div>
  </div>
    <div class="form-group">
      <input type="text" id="ember3845" class="ember-view ember-text-field form-control" placeholder="Delivery Instructions" name="street address 2">
    </div>
  <div class="form-group row">
    <div class="col col--6">
      <input type="text" id="ember3838" class="ember-view ember-text-field form-control" placeholder="City" name="city">
      <div id="ember3839" class="ember-view alert alert--error is-hidden">false
</div>
    </div>
    <div class="col col--3 col--4--sm">
      <div id="ember3840" class="ember-view"><div class="select-wrapper">
  <select id="ember3847" class="ember-view ember-select form-control" name="state"><option value="">State</option><option id="ember3849" class="ember-view" value="AL">AL</option><option id="ember3851" class="ember-view" value="AK">AK</option><option id="ember3853" class="ember-view" value="AS">AS</option><option id="ember3855" class="ember-view" value="AZ">AZ</option><option id="ember3857" class="ember-view" value="AR">AR</option><option id="ember3859" class="ember-view" value="CA">CA</option><option id="ember3861" class="ember-view" value="CO">CO</option><option id="ember3863" class="ember-view" value="CT">CT</option><option id="ember3865" class="ember-view" value="DC">DC</option><option id="ember3867" class="ember-view" value="DE">DE</option><option id="ember3869" class="ember-view" value="FL">FL</option><option id="ember3871" class="ember-view" value="GA">GA</option><option id="ember3873" class="ember-view" value="GU">GU</option><option id="ember3875" class="ember-view" value="HI">HI</option><option id="ember3877" class="ember-view" value="ID">ID</option><option id="ember3879" class="ember-view" value="IL">IL</option><option id="ember3881" class="ember-view" value="IN">IN</option><option id="ember3883" class="ember-view" value="IA">IA</option><option id="ember3885" class="ember-view" value="KS">KS</option><option id="ember3887" class="ember-view" value="KY">KY</option><option id="ember3889" class="ember-view" value="LA">LA</option><option id="ember3891" class="ember-view" value="ME">ME</option><option id="ember3893" class="ember-view" value="MD">MD</option><option id="ember3895" class="ember-view" value="MA">MA</option><option id="ember3897" class="ember-view" value="MI">MI</option><option id="ember3899" class="ember-view" value="MN">MN</option><option id="ember3901" class="ember-view" value="MO">MO</option><option id="ember3903" class="ember-view" value="MP">MP</option><option id="ember3905" class="ember-view" value="MS">MS</option><option id="ember3907" class="ember-view" value="MT">MT</option><option id="ember3909" class="ember-view" value="NE">NE</option><option id="ember3911" class="ember-view" value="NV">NV</option><option id="ember3913" class="ember-view" value="NH">NH</option><option id="ember3915" class="ember-view" value="NJ">NJ</option><option id="ember3917" class="ember-view" value="NM">NM</option><option id="ember3919" class="ember-view" value="NY">NY</option><option id="ember3921" class="ember-view" value="NC">NC</option><option id="ember3923" class="ember-view" value="ND">ND</option><option id="ember3925" class="ember-view" value="OH">OH</option><option id="ember3927" class="ember-view" value="OK">OK</option><option id="ember3929" class="ember-view" value="OR">OR</option><option id="ember3931" class="ember-view" value="PA">PA</option><option id="ember3933" class="ember-view" value="RI">RI</option><option id="ember3935" class="ember-view" value="SC">SC</option><option id="ember3937" class="ember-view" value="SD">SD</option><option id="ember3939" class="ember-view" value="TN">TN</option><option id="ember3941" class="ember-view" value="TX">TX</option><option id="ember3943" class="ember-view" value="UM">UM</option><option id="ember3945" class="ember-view" value="UT">UT</option><option id="ember3947" class="ember-view" value="VT">VT</option><option id="ember3949" class="ember-view" value="VA">VA</option><option id="ember3951" class="ember-view" value="VI">VI</option><option id="ember3953" class="ember-view" value="WA">WA</option><option id="ember3955" class="ember-view" value="WV">WV</option><option id="ember3957" class="ember-view" value="WI">WI</option><option id="ember3959" class="ember-view" value="WY">WY</option>
</select>
</div>
</div>
      <div id="ember3841" class="ember-view alert alert--error is-hidden">false
</div>
    </div>
    <div class="col col--3 col--4--sm">
      <input type="text" id="ember3842" class="ember-view ember-text-field form-control" placeholder="Zip" name="zip">
      <div id="ember3843" class="ember-view alert alert--error is-hidden">false
</div>
    </div>
  </div>
</div>
      </div>
  </div>
</div>

<!---->
<!---->
    <hr>

    <div class="actions">
      <div class="col col--6">
        <a class="btn btn-default btn--sm btn-block" data-ember-action="3700">Cancel</a>
      </div>
      <div class="col col--6">
        <button type="submit" class="btn btn-primary btn--sm btn-block" data-ember-action="3701">Next</button>
      </div>
    </div>
</form>
</div>
</div></div>
</li>






<li id="ember1276" class="ember-view accordion__pane is-active"><div class="accordion__pane-body accordion__pane-body--confirm" style="height: 629px;">
  <div class="wrap-pad">
    <a class="btn btn-primary btn-block" data-ember-action="1428">Confirm and View Menu</a>
  </div>
</div>
</li></ul>
</div>
  </div>